/* Big tablet to 1200px (widths smaller taht the 1140px row) */

@media only screen and (max-width: 1200px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sub-heading {
        width: 20%;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    .sub-heading {
        width: 30%;
    }

    .project {
        width: calc(50% - 20px);
    }
}


/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    section {
        height: auto;
        padding: 1em;
    }

    #s1 {
        height: 100vh;
    }

    h1 {
        font-size: 3rem;
    }

    .sub-heading {
        width: 48%;
        margin: auto;
    }

    .project {
        width: calc(90% - 20px);
    }

    .technologies i,
    .contact-box i {
        font-size: 40px;
    }

    .sub-heading {
        margin-bottom: 1em;
    }

    .nav-list {
        display: none;
    }

    nav .dropdown {
        display: block;
        float: right;
        margin-top: 0.5em;
    }

    .nav-list.responsive li {
        display: block;
        float: right;
    }
    .nav-list.responsive {
        display: block;
        width: 45%;
        border: 1px solid rgb(255, 219, 219);
        position: absolute;
        top: 2.5em;
        right: -2%;
        background: rgb(20, 8, 8);
        opacity: 0.8;
    }
    .nav-list.responsive a {
        font-size: 22px;
    }

    nav img {
        height: 30px;
    }
}


/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    
}